{% extends "base.html" %}
{% block title %}
  {% if form.instance.pk %}
    Редактирование
  {% else %}
    Новый
  {% endif %}
  пользователь — DenStock
{% endblock %}
{% block content %}
  <h1 class="page-title">
    {% if form.instance.pk %}
      Редактирование пользователя
    {% else %}
      Новый пользователь
    {% endif %}
  </h1>
  <form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn--primary">Сохранить</button>
    <a href="{% url 'user_list' %}">Отмена</a>
  </form>
{% endblock %}
